<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A</title>
</head>
<body>
<div class="container">
    <h1 class="text-center">About the Movie Database</h1>
    <p>This application ws developed fot the Java Bootcamp October 2017.https://github.com/aoa4eva/InClassExerciseMorning21Nov.gitt has the following features:

    <ol>
    <li>Many to many relationships between movies and actors</li>
    <li>A form to add actors to the database</li>
    <li>A form to add movies to the database</li>
    <li>Thymeleaf fragments, including: </li>
    <ul>
        <li>A condition to display links only when acors have been entered into the database AND there are still some actors to be added to the movie.</li>
        <li>A navigation bar that indicates where in the application a user is</li>
    </ul>
    <li>A method has been added to the Cloudinary configuration to transfrom images based on the featured actors' face.Have a look at this code as well!</li>

    You will be given the code of this application to type ou.Make sure you don't leave anything out!
</ol>

    </p>
</div>

</body>
</html>